{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<div class="hero-section">
    <img src="{% static 'images/hero-image.jpg' %}" alt="Hero Image">
    <div class="hero-overlay">
        <!-- <h1 class="display-4 text-white fw-bold">Discover Your Signature Scent</h1>
        <p class="lead text-white">Explore our exquisite collection of fragrances</p>
        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a> -->
    </div>
</div>

<!-- Categories Section -->


<!-- Featured Products Section -->

{% endblock %}
