html {
    height: 100%;
}

body {
    /* background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato', Arial, sans-serif; /* Added fallback fonts */
    overflow-x: hidden;
}

/* Hero Section */

.hero-section {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Darken the background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in 0.5s forwards; /* Delays text fade-in slightly */
}

/* Custom Paddings */

.custom-pt-150 {
    padding-top: 150px;
}

.custom-pt-50 {
    padding-top: 50px;
}

/* Fade-in animation for elements */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Logo Styles */

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Buttons and Links */

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-white {
    background-color: white; /* White background */
    color: black; /* Black text */
    border: 2px solid white; /* Optional: Adds a white border */
}

.btn-white:hover {
    background-color: #f1f1f1; /* Subtle hover effect */

}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Invert top navigation styles */

#topnav {
    background-color: black !important;
    color: white !important;
}

#topnav a.nav-link,
#topnav p {
    color: white !important;
}

#topnav .dropdown-menu {
    background-color: white;
}

#topnav .dropdown-menu a {
    color: black !important;
}

.dropdown-item:active {
    background-color: transparent !important; /* Remove the blue background */
    color: inherit !important; /* Maintain the current text color */
}

/* Button styles inside the navbar */

#topnav .btn {
    background-color: white;
    color: black;
}

#topnav .btn:hover,
#topnav .btn:focus,
#topnav .btn:active {
    background-color: #f1f1f1;
    color: black;
}

/* Main Nav Styles */

#main-nav, .free-shipping-notice {
    background-color: #e00034;

}

#main-nav .nav-link {
    color: white !important;
}

/* Ensures the footer background is black */

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* Styles for the product images in the product cards */

/* Base styling for product images */

.product-card-img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for product images */

.product-card-img:hover {
    transform: scale(1.05);
    /* Slightly enlarges the image on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increases shadow depth on hover to enhance the pop effect */
}

.card-img-top {
    border-radius: 10px; /* Adds rounded corners for a softer look */  
}

/* Styling for original and discounted prices in product cards */

/* Original price with strikethrough and muted color */

.original-price {
    text-decoration: line-through;
    /* Adds a strikethrough */
    color: #6c757d;
    /* Muted color similar to Bootstrap's text-muted */
    margin-right: 0.5rem;
    /* Space between original and discounted price */
}

/* Discounted price with a more prominent color */

.discounted-price {
    color: #dc3545;
    /* Red color similar to Bootstrap's text-danger */
    font-weight: bold;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999; /* Ensure it's above all other elements */
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    
}

.btt-link:hover {
    text-decoration: none; /* Ensure no underline on hover */
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.dynamic-message-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dynamic-message {
    opacity: 0; /* Ensure it's initially hidden */
    transition: opacity 1s ease-in-out;
    position: absolute;
    text-align: center;
    font-size: 3rem; /* Adjust size */
    color: white;
    z-index: 1; /* Ensure it appears above the background */
}

.dynamic-message.active {
    opacity: 1; /* Fully visible when active */
    font-size: 3rem; /* Adjust size */
}

/* Shopping Basket Icon */

.cart-icon {
    font-size: 1.5rem;
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #dc3545; /* Bootstrap's danger color */
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    text-align: center;
    min-width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);    
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* 
  Hide the spinner arrows for number input fields.
  This ensures a cleaner design by removing the up/down controls,
  but still allows users to manually type in values. 
  Applies to modern browsers (Chrome, Safari, Edge, Opera, and Firefox).
*/
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove spinner for WebKit-based browsers */
    margin: 0; /* Remove any default margin */
}

input[type="number"] {
    -webkit-appearance: none; /* For WebKit-based browsers */
    -moz-appearance: textfield; /* For Firefox */
    appearance: none; /* Standard property */
}