{% if widget.is_initial %}
    <p>{{ widget.initial_text }}:</p>
    <a href="{{ widget.value.url }}">
        <img src="{{ widget.value.url }}" alt="Current image" width="96" height="96" class="rounded shadow-sm">
    </a>
    {% if not widget.required %}
        <div class="custom-control custom-checkbox mt-2">
            <input 
                type="checkbox" 
                name="{{ widget.checkbox_name }}" 
                id="{{ widget.checkbox_id }}" 
                class="custom-control-input">
            <label 
                for="{{ widget.checkbox_id }}" 
                class="custom-control-label text-danger">
                {{ widget.clear_checkbox_label }}
            </label>
        </div>
    {% endif %}
    <br>
    <span>{{ widget.input_text }}</span>
{% endif %}
<div class="mt-3">
    <label class="btn btn-black rounded-0 btn-file">
        Select Image 
        <input 
            type="{{ widget.type }}" 
            name="{{ widget.name }}" 
            {% include "django/forms/widgets/attrs.html" %}>
    </label>
</div>
<p class="text-danger mt-2"><strong></strong></p>
