<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link font-weight-bold logo-font mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=effective_price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Women's Perfume Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link font-weight-bold logo-font mr-5" href="#" id="womens-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Women's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="womens-link">
                <a href="{% url 'products' %}?category=floral_fragrances" class="dropdown-item">Floral Fragrances</a>
                <a href="{% url 'products' %}?category=fruity_fragrances" class="dropdown-item">Fruity Fragrances</a>
                <a href="{% url 'products' %}?category=oriental_fragrances" class="dropdown-item">Oriental
                    Fragrances</a>
                <a href="{% url 'products' %}?category=fresh_fragrances" class="dropdown-item">Fresh Fragrances</a>
                <a href="{% url 'products' %}?category=luxury_gift_sets" class="dropdown-item">Luxury Gift Sets</a>
                <a href="{% url 'products' %}?category=floral_fragrances,fruity_fragrances,oriental_fragrances,fresh_fragrances,luxury_gift_sets"
                    class="dropdown-item">All Women's Perfume</a>
            </div>

        </li>

        <!-- Men's Perfume Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link font-weight-bold logo-font mr-5" href="#" id="mens-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Men's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mens-link">
                <a href="{% url 'products' %}?category=woody_fragrances" class="dropdown-item">Woody Fragrances</a>
                <a href="{% url 'products' %}?category=spicy_fragrances" class="dropdown-item">Spicy Fragrances</a>
                <a href="{% url 'products' %}?category=citrus_fragrances" class="dropdown-item">Citrus Fragrances</a>
                <a href="{% url 'products' %}?category=aquatic_fragrances" class="dropdown-item">Aquatic Fragrances</a>
                <a href="{% url 'products' %}?category=gourmand_fragrances" class="dropdown-item">Gourmand
                    Fragrances</a>
                <a href="{% url 'products' %}?category=luxury_gift_sets" class="dropdown-item">Luxury Gift Sets</a>
                <a href="{% url 'products' %}?category=woody_fragrances,spicy_fragrances,citrus_fragrances,aquatic_fragrances,gourmand_fragrances,luxury_gift_sets"
                    class="dropdown-item">All Men's Perfume</a>
            </div>
        </li>

        <!-- Exclusive Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link font-weight-bold logo-font" href="#" id="exclusive-offers-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Exclusive Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exclusive-offers-link">
                <a href="{% url 'products' %}?category=new_luxury_arrivals" class="dropdown-item">New Luxury
                    Arrivals</a>
                <a href="{% url 'products' %}?category=curated_selections" class="dropdown-item">Curated Selections</a>
                <a href="{% url 'products' %}?category=exclusive_promotions" class="dropdown-item">Exclusive
                    Promotions</a>
                <a href="{% url 'products' %}?category=new_luxury_arrivals,curated_selections,exclusive_promotions"
                    class="dropdown-item">View All Offers</a>
            </div>

        </li>

    </ul>
</div>