<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto justify-content-center">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="womens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="womens-link">
                <a href="" class="dropdown-item">Floral Fragrances</a>
                <a href="" class="dropdown-item">Fruity Fragrances</a>
                <a href="" class="dropdown-item">Oriental Fragrances</a>
                <a href="" class="dropdown-item">Fresh Fragrances</a>
                <a href="" class="dropdown-item">Luxury Gift Sets</a>
                <a href="" class="dropdown-item">All Women's Perfume</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="mens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mens-link">
                <a href="" class="dropdown-item">Woody Fragrances</a>
                <a href="" class="dropdown-item">Spicy Fragrances</a>
                <a href="" class="dropdown-item">Citrus Fragrances</a>
                <a href="" class="dropdown-item">Aquatic Fragrances</a>
                <a href="" class="dropdown-item">Gourmand Fragrances</a>
                <a href="" class="dropdown-item">Luxury Gift Sets</a>
                <a href="" class="dropdown-item">All Men's Perfume</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="exclusive-offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exclusive Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exclusive-offers-link">
                <a href="" class="dropdown-item">New Luxury Arrivals</a>
                <a href="" class="dropdown-item">Curated Selections</a>
                <a href="" class="dropdown-item">Exclusive Promotions</a>
                <a href="" class="dropdown-item">View All Offers</a>
            </div>
        </li>
    </ul>
</div>
