{% extends "base.html" %}


{% block content %}
<hr>
<h2 class="logo-font mb-4">404 - Fragrance Not Found</h2>
<hr>
<p>Oh no! You've wandered into a cloud of mystery. This page is as elusive as the perfect scent!</p>
<p>Why not explore our collection instead? Perhaps you'll discover something even better than what you were looking for.</p>
<p>If you need assistance, feel free to <a href="{% url 'contact' %}">contact us</a>.</p>

<a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Return to Maison Lavaux</a>
{% endblock %}
